header{
	position: fixed
	width: 50%;
	z-index: 1;
}

.imagenFondo{
    height: 100vh;
	width: 100vw;
    position: fixed;
	top: 0px;
	left: 0;
	background: #fff;
    z-index: -1;
    opacity: .20;
}

.imagenPrincipal{
    height: 100%;
	width: 100%;
    position:absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.imagenContacto { 
  	background: url(../img/imgForm.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	height: 100%;
	width: 100%;
	 position:absolute;
	z-index: -1;
 }

.redondearImagen{
	height: 350px;
	width: 350px;
	border-radius : .5%;
}

.presentacionIntegrante{
    align-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    margin:auto;
    left: 50px;
    width: 80%;
    margin-bottom: 400px;
}

.datosPersonales{
    display: flex;
    margin-bottom: 50px;
    color:#000;
}
.datosPersonales div{
    padding: 10%;
    text-align: center;
}

.datosLibro{
    display: flex;
    margin-bottom: 50px;
}

.datosLibro div{
    padding: 10%;
    text-align: center;
}

.videoPersonal{
    display: flex;
    justify-content: center;
}
form {
    margin:10px auto;
     width: 425px;
    position:absolute;
	top: 250px;
	right:80px;
	padding: 1em;
     border: 1px solid #CCC;
     border-radius: 1em;

     z-index: 1;
     
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 85px;
    text-align: left
}
.input{
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
textarea {
    font: 1em sans-serif;
    width: 389px;
    height: 150px;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
button {
    font-family: 'letraHome';
    border-radius:4px;
    font-size:15px;
    margin:10px;
    color:#fff!important;
    display:inline-block;
    padding:10px 30px 10px 30px;
    background:#efd542;
    box-shadow:0 15px 20px -10px rgba(0, 0, 0, 0), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 -16px 25px 0 #b39b32;
    transition:all .3s ease-in-out
}
button:hover {
    text-decoration:none;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 10px 15px 5px #c3b537;
    color:#fff!important
}
button:active {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 50px 25px 10px #8b7b22;
    color:#333!important;
    position:relative;
    top:1px;     
    transition:all .1s ease-in-out
}