@font-face{
    font-family: 'letraHome';
    src: url(../tipografia/CapitalisTypOasis.ttf);
}

@font-face{
    font-family: 'letraMenuPrincipal';
    src: url(../tipografia/CAESAR.TTF);
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'letraHome';
}

.videoPrincipal{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
/*
.capa-video{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	opacity: .35;
}
*/

.wrap{
	width: 90%;
	max-width: 1800px;
	margin: auto;
}

.main{
	height: 950px;
}

header{
	position: fixed;
	width: 100%;
	z-index: 1;
}

header .wrap{
	display: flex;
	justify-content: left;
	padding: 40px 0px;
}

header .btn-menu{
	color: #c6961d;
	font-size: 50px;
	cursor: pointer;
}

.seccion1,
.seccion1 .wrap{
	height: 100%;
}

.seccion1 .wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.caption-main h1{
	text-align: right;
	font-size: 50px;
	color:#c6961d;
	
}

/* FULL MENU ===================*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;

	width: 400px;
	height: 100%;
	background: #292929;

	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
}

.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.full-menu .navegacion ul{
	list-style: none;
}

.full-menu .navegacion ul li{
	font-family: 'letraMenuPrincipal';
	font-size: 30px;
	padding: 30px;
	box-shadow: 0px 0 rgba(255, 255, 255, 0.2) inset;
    --webkit-transition: all .9s;
    -o-transition: all .9s;
    transition: all .9s;
}

.full-menu .navegacion ul li:hover{
    box-shadow: 400px 0 rgba(207, 163, 15, .2) inset;
}

.full-menu .navegacion ul li a{
	text-decoration: none;
	color: #fff;
	--webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.full-menu .navegacion ul li a:hover{
	margin-left: 10px;
}

.full-menu .navegacion ul li span{
	margin-right: 30px;
    font-size: 30px;
}

/* RESPONSIVE*/

@media screen and (max-width: 750px){
	.main{
		height: 680px;
	}

	.caption-main h1{
		font-size: 60px;
	}

	/*Full menu*/
	.full-menu .navegacion ul li a{
		font-size: 30px;
	}
}

@media screen and (max-width: 520px){

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 450px){
	.main{
		height: 600px;
	}

	.caption-main h1{
		font-size: 50px;
	}
}

@media screen and (max-width: 340px){
	.main{
		height: 550px;
	}

	.caption-main h1{
		font-size: 40px;
	}

}